
.form-inline
{
  margin-top: -20px;
}

form {

width:100%;
max-width: 700px;
margin: 0 auto;
margin-bottom: 35px;
padding: 10px;
border-top: 5px solid  #FFA500;
border-bottom: 5px solid  #FFA500;
color:#000000 ;
background-color:#f5f5f5; 
text-shadow: 0px 0px 0px  #238276  ;
box-shadow: -6px 6px 6px 0px rgba(50, 50, 50, 0.65);
border-radius: 18px;
float: center;
text-align: left;
font-family: Verdana, Geneva, sans-serif;


}
.form-group
{
	margin-left: 200px;
}
.form-group1
{
	margin-left: 300px;
}
#link
{
	margin-left: 30px;
}
#link1
{
	margin-left: 265px;
}
#link2
{
	margin-left: 190px;
}
footer
{
width: 98%;
text-align: center;
margin-top: 5.7%;
font-family: Verdana, Geneva, sans-serif;
font-size: 20px;
background-color: #FFA500;
border-radius: 12px;
bottom: 0px;

}
